.profileContainers {
    display: flex;
    align-items: center;
}

.profileContainers > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainers div {
    margin-left: 1.5rem;
}

.profileContainers div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainers div p {
    font-size: 1rem;
    font-weight: 0.5rem;
}
.profileContainers div p img {
    margin-right: 0.5rem;
}